.instrument {
  border: 2px solid rgb(223, 223, 223);
  border-radius: 8px;
  position: relative;
  max-width: 22rem;
}

.instrument img {
  height: 10rem;
  width: 100%;
  pointer-events: none;
  user-select: none;
  object-fit: contain;
}

.instrument .image-wrapper {
  position: relative;
}

.instrument .content {
  position: relative;
  padding: .7rem;
}

.instrument .type {
  position: absolute;
  bottom: 0;
  right: 1rem;
  padding: .5rem .8rem;
  border-radius: 400px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  text-transform: capitalize;
}

.instrument .title {
  font-size: 1.8rem;
  color: var(--color-primary-dark);
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 80%;
}

.instrument .play-sound {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  background-color: var(--color-primary-light);
  border: 0;
  height: 2.8rem;
  border-radius: 500px;
  aspect-ratio: 1 / 1;
}

.instrument .play-sound.disabled {
  opacity: .5;
  cursor:not-allowed;
}

.instrument .play-sound svg {
  transform: translateY(2px);
  color: var(--color-primary-dark);
}

.instrument .subtitle {
  font-size: 1.3rem;
  color: var(--color-primary-dark);
  margin: 0;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.instrument .p {
  color: rgb(64, 64, 64);
  margin: 0;
}

.instrument .genres {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  padding: 0;
}

.instrument .genre {
  padding: .6rem 1.2rem;
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  border-radius: 200px;
  text-transform: capitalize;
}

.instrument .buttons {
  display: flex;
  gap: .5rem;
  padding: .5rem;
}